<!DOCTYPE html>
<html>
<head>
  <title>Urine Strip Test</title>
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles.css') }}"
/>
</head>
<body>
  <h1>Upload Strip Image</h1>
  <input type="file" id="imageInput" accept="image/*" />
  <button onclick="sendImageToServer()">Upload</button>
  <div id="loading" style="display: none;">Loading...</div>
  <div id="result"></div>
  <script>
    function sendImageToServer() {
      const imageInput = document.getElementById("imageInput");
      const file = imageInput.files[0];
      const loadingDiv = document.getElementById("loading");
      const resultDiv = document.getElementById("result");
      if (!file) {
        alert("Please select an image file.");
        return;
      }
      const formData = new FormData();
      formData.append("image", file);
      loadingDiv.style.display = "block"; 
      fetch("/get_image", {
        method: "POST",
        body: formData,
      })
      .then((response) => response.json())
      .then((data) => {
        loadingDiv.style.display = "none"; 
        if (data.error) {
          alert(data.error);
          return;
        }
        
        resultDiv.innerHTML = JSON.stringify(data.result, null, 2).replace(/\\/g, '');
        imageInput.value = "";
      })
      .catch((error) => {
        loadingDiv.style.display = "none"; 
        console.error("Error uploading image:", error);
      });
    }
  </script>
</body>
</html>